<section id="unauth-home">
  <h1>Budget Buddy</h1>
  
  <div id="buttons">
    <%= link_to 'Log in', new_session_path(:user), class: 'btn-splash btn-primary' %>
    <%= link_to 'Sign up', new_registration_path(:user), class: 'btn-splash btn-secondary' %>
  </div>
</section>
